<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
  {{!-- Navbar --}}

{{>navbar}}

  <img src='/images/moon.png' id="icon"/>

  {{!-- <!--  main header  ---> --}}

  <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
   {{!--  left side div  --}} 
   <div class="col-md-6 col-12 main_header_left">
    <p>Welcome to weather app</p>
    <h1>I Am A <span>Fronted Developer </span> And  A FreeLancer</h1>  
    <a href="https://projectreact-d50c3.web.app/"><button>ABOUT ME </button></a>
   </div>
 

   {{!-- left side div   --}}
<div class="col-md-6 col-12 main_header_right ">
   <figure>
    <img src="/images/IMG-20230115-WA0007~2.jpg" class="img-fluid" title="ajinkya-jadhav" alt="img" />
   </figure>
</div>     
</div>
     </div>
 </div>
</div>

{{>footer}}

    
    <script>
          let icon = document.getElementById('icon');
function changeicon(){
    document.body.classList.toggle("dark-theme");
    let change_icon = document.body.classList.contains("dark-theme");
    if(change_icon){
     icon.src='/images/sun.png';
      }else{
     icon.src='/images/moon.png';
   }
}
icon.addEventListener("click",changeicon);

    </script>
</body>
</html>