<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
</head>

<body>
  {{!-- Navbar --}}
  {{>navbar}}

  <img src='/images/moon.png' id="icon"/>

  weather app 
  {{!-- <!--  main header  ---> --}}

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">

          <form>
            <input type="text" autocomplete="on"  id="cityName" placeholder="Enter Your city Name" />
            <input type="submit" id="submitbtn" value="search" />
          </form>
          <div class="box_container">
          <p class="Today_date"></p>
          {{!-- <p id="day"></p> --}}
           <div class="main_layer">
            <p id="city_name">Get Started</p>
            <div class="middle_layer data_hide">
         <span id="temp"></span><span id="degree"  id="temp_real_val"><sup>0</sup>C</span><span id="temp_status"></span>
    
              {{!-- <h1><i class="fa-solid fa-cloud-meatball fa-bounce" style="color: #635cc7;"></i></h1> --}}
              {{!-- <h1><i class="fa-solid fa-cloud-moon fa-beat-fade" style="color: #5c37b3;"></i></h1> --}}
              {{!-- <h1><i class="fa-solid fa-cloud-showers-heavy fa-shake" style="color: #2f4ae0;"></i></h1> --}}
              {{!-- <i class="fa-solid fa-cloud-sun fa-beat-fade" style="color: #5059d7;"></i> --}}
           {{!-- <i class="fa-solid fa-sun fa-fade"></i> sun --}}
           {{!-- <i class="fa-solid fa-moon fa-fade"></i> moon --}}
           
            </div>

</div>
          </div>
        </div>
      </div>
    </div>

      <div class="about_footer">
     {{>footer}}
      </div>

    
    <script src="/js/main.js"></script>


    {{!-- <script>
      const day = document.getElementById("day");
      function currentday(){
      let weekday = new Array(7);
weekday[0]="Sunday";       
weekday[1]="Monday";
weekday[2]="Tuesday";
weekday[3]="wed";
weekday[4]="Thursday";
weekday[5]="Friday";
weekday[6]="Saturday";

let currentTime = new Date();

let day_ =weekday[currentTime.getDay()];
day.innerText=day_;
console.log(day_); 
      
      }
currentday();
    </script>
 --}}






 
</body>

</html>
 



















