<head>
  {{>header}}
</head>
  <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
   {{!--  left side div  --}}
   <div class="col-md-6 col-12 main_header_left">
    <p>PAGE NOT FOUND</p>
    <h1>OOPS ! <span>network problem </span> go back</h1>  
    <a href="/"><button>go back </button></a>
   </div>


   {{!-- left side div   --}}
<div class="col-md-6 col-12 main_header_right  ">
   <figure>
    <img src="/images/undraw_Page_not_found_re_e9o6.png" class="img-fluid" title="ajinkya" alt="img" style="height: 100%; width: 100%; margin-top:10px;"/>
   </figure>
</div>     
</div>
     </div>
 </div>
</div>